.slide-show {
  overflow: hidden;
  position: fixed;
  top: 20%;
  width: 350px;
  height: 200px;
}

.slide-show.left {
  left: 12px;
}

.slide-show.right {
  right: 12px;
}

.slide-show img {
  width: 100%;
  height: 100%;
  display: none;
}

.slide-show img.active {
  display: block;
}
