html {
  font-family: -apple-system, BlinkMacSystemFont, "Open Sans", "Segoe UI",
    "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

.secondary-text {
  color: gray;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  padding: 4px;
}

.hover:hover {
  opacity: 0.7;
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.icon-md {
  font-size: 24px;
  cursor: pointer;
}
